//Header

header {
    background-color: $bg_header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 80px;
    img {
        max-width: 60px;
        margin: 10px 250px;
    }
}